<div>
    <h1>Login</h1>
    <form id="loginForm">
        <label>Email</label>
        <input name="email">
        <br/>
        <label>Contraseña</label>
        <input type="password" name="password">
        <input type="submit">
    </form>
    <p>¿No estás registrado? <a href="/register">Regístrate aquí</a></p>
    <p>¿Olvidaste tu contraseña? <a href="/resetPassword">Restáurala aquí</a></p>
    <p>¿Quieres recuperar tu contraseña? <a href="/recoverPassword">Restáurala aquí</a></p>
    <div>
    <a href='/api/sessions/github'><button>Entrar con Github</button></a>
    </div>
</div>
<script src="/js/login.js"></script>