<div>
    <h1>Recuperar la contraseña - Ingresa tu correo electrónico</h1>
    <form id="recoverPasswordForm">
        <label>Correo electrónico</label>
        <input name="email"> 
        <input type="submit">
    </form>
</div>

<script src="/js/recoverPassword.js"></script>