<div>
    <h1>Restaura la contraseña del usuario</h1>
    <form id="restartPasswordForm">
        <label>Correo electrónico</label>
        <input name="email" required>
        <label>Nueva contraseña</label>
        <input name="password" required>
        <input class="btn" type="submit">
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/restartPassword.js"></script>